/*===========================
  Heading styles
=============================*/

h1 {
  font-size: 36px;
  font-weight: 650;         
  color: #1f2326; 
}

h2 {
  color: #1f2326; 
  font-size: 24px;
  font-weight: 300px;          
  margin-top: 1.5em;
  margin-bottom: .6em;
  border-bottom: 1px solid;
  border-color: #e0e0e0; 
}

h3 {
  color: #1f2326; 
  font-size: 20px;
  font-weight: 300px;          
  line-height: 2em;
}

h4 {
  color: #1f2326; 
  font-size: 19px;
  font-weight: 300px;          
  line-height: 2em;
}

h1,h3,h4 {
  border-bottom: 0; 
}

/*===========================
Subtitle blockquote 
=============================*/

blockquote {
  border-left: 5px solid #49AC57;
  background-color: #6fad7815;
  padding: 1rem; 
  font-size: 17px !important;
  line-height: 1.65 !important;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}

/*===========================
Paragraph styles 
=============================*/

p {
  margin-bottom: 1.3em; /* Adjust the value as needed */
}

strong {
  font-weight: 600;
} 

/* Narrow the main content area */
#quarto-content {
  max-width: 1400px;  /* Adjust this value for desired width */
  margin: 0 auto;  /* Centers content */
}

/* Ensure full-width elements (like images) don’t break layout */
.quarto-grid {
  max-width: 1500px;
  margin: 0 auto;
}

/*===========================
Links styles 
=============================*/

a {
  color: #49AC57  ; 
  text-decoration: underline ;
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important; 
}

a:hover {
  color: #43a450; 
  text-decoration: none;
  text-decoration-color: #3e3e3e;
  text-underline-offset: 0px ;
  text-decoration-thickness: 0%;   
}

a:active {
  color: #43a450 !important; 
}

.authors-ipa a {
  color: #3e3d3e !important;  
  text-decoration: underline !important; 
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important;
}

.authors-ipa a:hover {
  text-decoration: underline !important; 
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important;
}

.contributors a {
  color: #3e3d3e !important;      
  text-decoration: underline !important; 
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important;
}

.contributors a:hover {
  text-decoration: underline !important; 
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important;
}

/*===========================
Top navigation bar 
=============================*/

.navbar {
  height: 64px ;  
  background-color: white;  
  border-bottom: 1px solid rgb(215, 215, 215);
  width: 100%;       
  margin-bottom: 0px !important;
  margin-left: 0px;
  padding-bottom: 20 !important; /* Optional: remove any padding if present */   
  position: sticky; 
  transition: border-bottom 0.3s ease-in-out;
  z-index: 1000;
   /*display: none;*/
}

.navbar a {
  color: #2f2f2f;           
  font-weight: 600;
  font-size: .87rem;          
  text-decoration: none;  
  margin-bottom: 0px; 
  padding: 0px;
  margin-left: 0px;
}

.navbar-nav {
 display: flex; 
 gap: 2px;
 margin-left: -50px;
}

.navbar-nav a.nav-link:hover {
  color: #24292f; 
  font-size: .9rem;          
  font-weight: 450;
  /*text-decoration: underline;
  text-decoration-color: #49AC57;
  text-decoration-thickness: 5%;   
  text-underline-offset: 7px ;*/
}

.navbar-nav a.nav-link.active {
  font-weight: 600;
  color: #3e3e3e; 
  font-size: .9rem;          
  /*text-decoration: underline;
  text-decoration-color: #49AC57;
  text-underline-offset: 7px ;
  text-decoration-thickness: 8%; */
}

.navbar-brand {
  font-weight: 600 !important; /* Bold (use 400 for normal, 300 for lighter) */
  font-size: 16.5px !important; /* Adjust size as needed */
  color: #3b3b3c !important; /* Change title color */
  padding: 0px;
}

.navbar-brand > img {
  max-height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px; 
}  

.navbar-logo {
  margin-left: 200px !important;
}

.navbar-title {
  margin-left: 0px !important;
}

.navbar .quarto-navbar-tools .quarto-navigation-tool {
  color: #595959;
  font-size: 1.2rem;
  margin-right: 7px;
  margin-left: 15px;
  padding: 2px;
}

#quarto-search input {
  font-size: .925em;
}

.navbar .aa-Autocomplete .aa-Form {
  width: 240px;
  margin-right: 300px;
  padding: 2px;
  /*border-color: #7cb784 !important;*/
}

/*===========================
Side navigation bar 
=============================*/

.sidebar {
  margin-left: 0px;
  margin-right: 0px; 
  border-right-color: #303030;
  padding: 0px 0px 0px 0px;
}

/* Sidebar Link Styling */
.sidebar a {
  font-size: .935em; 
  text-decoration: none;
  color: #24292f; 
  padding: 6.5px 9px;
  margin: -4.5px 0;    
  display: block;
  border-radius: 5px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative; 
}

/* Sidebar Link Hover Effect */
.sidebar a:hover {
  font-size: .935em; 
  background-color: #f3f3f3;  /* Light green background */
  color: #1f2326;  /* GitHub blue */
}

/* Sidebar Link Active (if applicable) */
.sidebar a.active {
  font-size: .935em; 
  background-color: #f3f3f3;  /* Light blue for active links */
  color: #1f2326;
  font-weight: bold;
}

/* Active Link - Adding a Colored Left Bar */
.sidebar a.active::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%); /* Aligns it perfectly in the center */
  height: 85%;
  width: 4px;  /* Thickness of the left bar */
  background-color: #49AC57;
  border-radius: 2px; /* Optional: Rounds the edges slightly */
}

/* Sidebar Logo */
.sidebar-logo {
  text-align: center; /* Center the logo */
  padding: 0px 0; /* Adjust spacing */
  max-width: 4.5rem; /* Adjust size (smaller image) */
  /*max-width: 350px; */
  margin-left: -6px;
  margin-top: -5x;
  margin-bottom: 8px;
  opacity: 0; /* Hide by default */
  transition: opacity 0.3s ease-in-out;
}

/*===========================
Breadcrumb
=============================*/

.breadcrumb {
  background-color: transparent;
  padding: 7px 40px 25px 3px;
  color: #6d6d6d !important;  
  font-weight: normal !important;
  margin-bottom: 10px !important;
} 

.breadcrumb a {
  font-style: normal !important;
  color: #6d6d6d !important;       
  text-decoration: none !important;  
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important ;
}

.breadcrumb a:hover {
  color: #49AC57 !important; 
  text-decoration: underline !important;  
  text-underline-offset: 4px ;
  text-decoration-color: #49AC57 !important ;
}

.breadcrumb li:not(:first-child)::before {
  font-style: normal !important;
  content: '>' ;            
  margin: 0 4px ;          
  font-size: 0.9em !important;     
}

.breadcrumb li:last-child {
  visibility: hidden;
}

.breadcrumb li:last-child a {
  visibility: hidden;
}

.breadcrumb li:first-child a {
  font-weight: normal !important;
  font-size: 0.92em !important;     
}

.breadcrumb .breadcrumb-item:first-child a {
font-weight: bold;
color: #0056b3 !important;
font-size: 0.92em !important; 
}

/*===========================
Page subtitle
=============================*/

.page-subtitle {
  font-size: 1.3rem;
  color: #666565 !important;  
  margin: 0px 35px 55px 0px;  
  line-height: 1.5;
  border-color: #49AC57;
}

/*===========================
Figures style
=============================*/

figure figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 2rem;
}

.figure {
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: auto; 
  margin-right: auto; 
}

img {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

/*===========================
Numbered lists
=============================*/

/* Remove default list styling and set up a custom counter */
.numbered-list {
  list-style-type: none;
  counter-reset: custom-counter;  
  padding-left: 0;  
  margin-left: 0;  
  width: 100%; 
}

/* Style for each list item */
.numbered-list li {
  position: relative;  
  padding-left: 5px;  
  margin: 0;  
  margin-bottom: 15px;
  list-style: none;  
}

/* Style for the number inside the list items */
.numbered-list li::before {
  content: counter(custom-counter);  
  counter-increment: custom-counter;  
  font-weight: bold; 
  background-color: #49AC57;  
  color: white;  
  border-radius: 50%;  

  /* Increase size by 10% from previous 22px */
  width: 24px;  
  height: 24px;  
  font-size: 15.4px; 

  /* Position the number outside the text */
  position: absolute; 
  left: -35px;  
  top: 0; 

  /* Make the number a circle and center the content inside it */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*===========================
Bullet points lists
=============================*/

main ul {
  margin-bottom: 1em; 
}

main ul li {
  margin-bottom: 0.375em; 
}

/*===========================
Custom callouts
=============================*/

.custom-callout-tip {
padding: 5px 1px 1px 20px; /* Correct padding values */
border-width: 0 0 0 4px !important; /* Keep the left border */
border-style: solid !important;
border-color: #49AC57;
line-height: 1.6em;
position: relative;
}

.custom-callout-tip::before {
content: "💡 Tip";
margin-bottom: 10px;
font-weight: 600;
display: inline-block;
vertical-align: middle;
margin-right: 10px;
}

.custom-callout-tip-title {
font-weight: bold;
display: inline-block;
vertical-align: middle;
}

/* Style the TOC container */
#TOC {
  margin-top: 24.5px; /* Adjust as needed */ 
  background-color: #ffffff; /* Light background */
  padding: 0px; 
  border-radius: 5px;
  width: 400px; /* Adjust as needed */
  max-width: 100%; /* Prevent overflow */
  margin-left: 0px;
  margin-right: -50px !important;
}

/* Style TOC links */
#TOC a {
  color: #24292f !important; /* Custom link color */
  text-decoration: none;
  border-color: white;
  border-left-color: #e6e6e6;
  line-height: 1.3rem;
  margin-bottom: 3px;
  background-color: #ffffff;  /* Light green background */
  font-weight: normal; 
  border-radius: 0; /* Remove rounding on the corners */
  font-size: .935em; 
}

#TOC a:hover {
  color: #24292f !important;
  background-color: #f6f6f6;  /* Light green background */
  font-size: .935em; 
  font-weight: normal; 
}

/* Sidebar Link Active (if applicable) */
#TOC a.active {
  font-size: .935em; 
  background-color: #ffffff;  /* Light blue for active links */
  color: #49AC57 !important;
  font-weight: 600 !important;
  border-left-color: #49AC57;
}

/* Active Link - Adding a Colored Left Bar */
#TOC a.active::before {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 0px;  /* Thickness of the left bar */
  background-color: #ffffff;
  border-radius: 0px; /* Optional: Rounds the edges slightly */
  font-weight: bold !important; 
  color: #24292f !important;
}

#TOC::before {
  font-weight: bold;
  font-size: 10px !important;
  margin-bottom: 15px;
}

#TOC h2 {
  margin-bottom: 10px; /* Adjust as needed */
  font-weight: 600 !important;
  font-size: 92%;
  margin-left: 5.5px;
}

/* Reduce space above the links */
.toc-actions a {
  padding: 0px !important;
}


/* Reduce space above the links */
.quarto-search {
  width: 300px !important;
}
