/*===========================
  Header styles 
=============================*/

h1 {
    font-size: 34px;
    font-weight: 500px;         
    color: #1f2326; 
}

h2 {
    color: #1f2326; 
    font-size: 1.42rem;
    font-weight: 300px;          
    margin-top: 1.5em;
    margin-bottom: .6em;
    border-bottom: 1px solid;
    border-color: #e0e0e0; 
}

h3 {
    color: #1f2326; 
    font-size: 1.4em;
    font-weight: 300px;          
    line-height: 2em;
}

h1,h3,h4 {
    border-bottom: 0; 
}

/*===========================
  Paragraph styles 
=============================*/

p {
    margin-bottom: 1.3em; /* Adjust the value as needed */
  }

strong {
    font-weight: 600;
} 

/*===========================
  Links styles 
=============================*/

a {
    color: #49AC57  ; 
    text-decoration: underline ;
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important; 
}

a:hover {
    color: #43a450; 
    text-decoration: none;
    text-decoration-color: #3e3e3e;
    text-underline-offset: 0px ;
    text-decoration-thickness: 0%;   
}

a:active {
    color: #43a450 !important; 
}

.authors-ipa a {
    color: #3e3d3e !important;  
    text-decoration: underline !important; 
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important;
}

.authors-ipa a:hover {
    text-decoration: underline !important; 
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important;
}

.contributors a {
    color: #3e3d3e !important;      
    text-decoration: underline !important; 
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important;
}

.contributors a:hover {
    text-decoration: underline !important; 
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important;
}

/*===========================
  Top navigation bar 
=============================*/

.navbar {
    height: 60px ;  
    background-color: white;  
    border-bottom: 1px solid rgb(215, 215, 215);
    width: 100%;       
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; /* Optional: remove any padding if present */    
}

.navbar a {
    color: #3e3e3e;           
    font-weight: normal;
    font-size: .85rem;          
    text-decoration: none;  
    margin-bottom: 5px;   
}

.navbar-nav {
   display: flex; 
   gap: 10px;         
}

.navbar-nav a.nav-link.active {
    font-weight: 600;
    color: #3e3e3e; 
    text-decoration: underline;
    text-decoration-color: #49AC57;
    text-underline-offset: 7px ;
    text-decoration-thickness: 8%;   
}

.navbar-nav a.nav-link:hover {
    color: #3e3e3e; 
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #49AC57;
    text-decoration-thickness: 12%;   
    text-underline-offset: 7px ;
  }

.navbar-brand > img {
    max-height: 36px;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 22px;
}  

.navbar-brand::after {
    content: "";
    width: 1px;              
    height: 30px;        
    margin-top: 5px;
    background-color: #ffffff; 
    margin-left: 30px; 
    margin-right: 0px; 
  }

/*===========================
  Side navigation bar 
=============================*/

.sidebar {
    margin-left: 20px;
    margin-right: 20px; 
    border-right-color: #303030;
    padding: 20px;
}

.sidebar a {
    font-size: .9em; 
    padding: 1.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -5px;
}

.sidebar a:hover {
    color: #43a450 !important;
    font-size: .9em; 
    padding: 1.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -5px;
   /* background-color: rgba(67, 164, 80,0.1);
   /*border-radius: 15px;
   /*padding: 10px; /* Adds space inside the rounded area */
}

.sidebar a.active, .sidebar a.current {
    color:  #363636; 
    font-weight: 600; 
    font-size: .9em; 
    padding: 1.5px;
    padding-left: 7px ;
    border-left: 4px solid #43a450;
    /* text-decoration: underline !important; 
    /*text-decoration-color: #49AC57;
    /*text-underline-offset: 7px ;
    /*text-decoration-thickness: 12%;  */ 
}

/*===========================
  Breadcrumb
=============================*/

.breadcrumb {
    background-color: transparent;
    padding: 7px 40px 25px 3px;
} 

.breadcrumb a {
    font-style: normal !important;
    color: #6d6d6d !important;       
    text-decoration: none !important;  
    text-underline-offset: 4px ;
    text-decoration-color: #49AC57 !important;
   font-size: 0.96em; 
}

.breadcrumb a:hover {
    color: #49AC57 !important; 
    text-decoration: underline !important;  
    text-underline-offset: 4px ;
    font-size: 0.96em; 
}

.breadcrumb li:not(:first-child)::before {
    font-style: normal !important;
    content: '/';            
    margin: 0 4px;          
    font-size: 0.96em;     
}

.breadcrumb li:last-child {
    display: inline-block; 
  }
  
.breadcrumb li:last-child a {
    visibility: hidden;
  }
  
.breadcrumb li:first-child a {
    font-weight: 100 !important;
}

/*===========================
  Page subtitle
=============================*/

.page-subtitle {
    font-size: 1.25rem;
    color: #6d6d6d !important;  
    margin: 0px 35px 55px 0px;  
    line-height: 1.5;
}

/*===========================
  Figures style
=============================*/

figure figcaption {
    text-align: center;
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 2rem;
  }
  
.figure {
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: auto; 
    margin-right: auto; 
}

img {
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/*===========================
  Numbered lists
=============================*/

/* Remove default list styling and set up a custom counter */
.numbered-list {
    list-style-type: none;
    counter-reset: custom-counter;  
    padding-left: 0;  
    margin-left: 0;  
    width: 100%; 
  }
  
/* Style for each list item */
.numbered-list li {
    position: relative;  
    padding-left: 5px;  
    margin: 0;  
    margin-bottom: 15px;
    list-style: none;  
}

/* Style for the number inside the list items */
.numbered-list li::before {
    content: counter(custom-counter);  
    counter-increment: custom-counter;  
    font-weight: bold; 
    background-color: #49AC57;  
    color: white;  
    border-radius: 50%;  

    /* Increase size by 10% from previous 22px */
    width: 24px;  
    height: 24px;  
    font-size: 15.4px; 

    /* Position the number outside the text */
    position: absolute; 
    left: -35px;  
    top: 0; 

    /* Make the number a circle and center the content inside it */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===========================
  Bullet points lists
=============================*/

main ul {
    margin-bottom: 1em; 
}


main ul li {
    margin-bottom: 0.375em; 
}

/*===========================
  Custom callouts
=============================*/

.custom-callout-tip {
  padding: 5px 1px 1px 20px; /* Correct padding values */
  border-width: 0 0 0 4px !important; /* Keep the left border */
  border-style: solid !important;
  border-color: #49AC57;
  line-height: 1.6em;
  position: relative;
}

.custom-callout-tip::before {
  content: "💡 Tip";
  margin-bottom: 10px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.custom-callout-tip-title {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
